
@{
    ViewData["Title"] = "contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--====== HEADER PART ENDS ======-->
<!--====== CONTACT PART START ======-->

<section class="contact_area pt-30 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact_form mt-45">
                    <h4 class="contact_title">Contact Form</h4>

                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single_form">
                                    <input type="text" placeholder="Name">
                                </div> <!-- single form -->
                            </div>
                            <div class="col-md-6">
                                <div class="single_form">
                                    <input type="email" placeholder="Email">
                                </div> <!-- single form -->
                            </div>
                            <div class="col-md-12">
                                <div class="single_form">
                                    <input type="text" placeholder="Subject">
                                </div> <!-- single form -->
                            </div>
                            <div class="col-md-12">
                                <div class="single_form">
                                    <textarea placeholder="Your Message"></textarea>
                                </div> <!-- single form -->
                            </div>
                            <div class="col-md-12">
                                <div class="single_form">
                                    <button class="main-btn">Send Message</button>
                                </div> <!-- single form -->
                            </div>
                        </div> <!-- row -->
                    </form>
                </div> <!-- contact form -->
            </div>
            <div class="col-lg-6">
                <div class="contact_info mt-45">
                    <h4 class="contact_title">Contact Address</h4>

                    <div class="contact_info_wrapper">

                        <div class="single_contact_info d-sm-flex">
                            <div class="contact_icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="contact_content media-body">
                                <p>Main Office: NO.22-23 Street Name- City,Country </p>
                                <p>Customer Center: NO.130-45 Streen Name- City, Country</p>
                            </div>
                        </div> <!-- single contact info -->

                        <div class="single_contact_info d-sm-flex">
                            <div class="contact_icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact_content media-body">
                                <p>Customer Support: info@mail.com </p>
                                <p>Technical Support: support@mail.com</p>
                            </div>
                        </div> <!-- single contact info -->

                        <div class="single_contact_info d-sm-flex">
                            <div class="contact_icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact_content media-body">
                                <p>Main Office: +880 123 456 789 </p>
                                <p>Customer Supprort: +880 123 456 789</p>
                            </div>
                        </div> <!-- single contact info -->

                    </div> <!-- contact info -->
                </div> <!-- contact info -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div id="container_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13004080.414077152!2d-104.65693512785852!3d37.27559283318413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1530855407925" allowfullscreen=""></iframe>
                </div> <!-- container map -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<section class="top_companies pt-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section_title text-center pb-25">
                    <h5 class="sub_title">Purchase Now</h5>
                    <h3 class="main_title">You are Using Free Lite Version</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="text-center">

            <p>You are using free lite version of JobMate, please purchase full version to get all pages, features and commercial license</p></br>

            <a class="main-btn" href="https://rebrand.ly/jobmate-gg" rel="nofollow">Purchase Now</a>
            </br>

        </div>
    </div> <!-- container -->
</section>

<!--====== CONTACT PART ENDS ======-->
<!--====== PART START ======-->
<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">

                </div>
            </div>
        </div>
    </section>
-->
<!--====== PART ENDS ======-->
<!--====== FOOTER PART START ======-->
<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/js/vendor/modernizr-3.7.1.min.js"></script>

<!--====== Bootstrap js ======-->
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<!--====== Nice Select js ======-->
<script src="~/js/jquery.nice-select.min.js"></script>

<!--====== Counter Up js ======-->
<script src="~/js/waypoints.min.js"></script>
<script src="~/js/jquery.counterup.js"></script>

<!--====== Main js ======-->
<script src="~/js/main.js"></script>

